.user-context-info {
    position: absolute;
    bottom: calc(100% / 16);
    left: calc(100% / 16);
    font-size: 14px;
    font-weight: 100;
    color: rgba(0, 0, 0, 0.30);
    font-weight: 400;

    &.top {
        top: calc(-100% / 4 - 100% / 8 + 8px);
        bottom: unset;
        left: unset;
        right: calc(100% / 16);
    }
}