.note-item {

    .card-time {
        font-size: 14px;
        color: #0000004d;
        font-weight: 400;
    }

    .edit-note-btn {
        span {
            color: #1677ff;
        }

        &:hover {
            span {
                color: #1677ff;
            }
        }
    }

    .ant-card-actions {
        height: 40px;
        display: flex;
        align-items: center;
    }

    .ant-card-body {
        height: 200px;
        display: flex;
        flex-direction: column;
        gap: 8px;
        overflow: hidden;
        margin: auto;

        .heading {
            font-size: 32px;
            font-weight: 500;
            line-height: normal;
            font-family: var(--secondary-font);
        }

        .sub-heading {
            font-size: 24px;
            font-family: var(--secondary-font);
        }
    }

    .ant-card-head {
        min-height: 40px;
    }

    .card-title {
        height: 8px;
        width: 8px;
        border-radius: 50%;
        background-color: #1677ff;
    }
}

.note-modal {
    &.ant-modal {
        min-width: calc(100% - 40px);
        top: 20px;
    }

    .editor-modal-title {
        width: 100%;
        display: flex;
        justify-content: space-between;
        gap: 16px;

        svg {
            height: 16px;
            width: 16px;
            color: #667085;
        }

        button {
            padding: 4px;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            background-color: #EEF4FF;
            border: 1px solid #A4BCFD;
            border-radius: 4px;
        }
    }

    .editor-modal-footer {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: auto;

        .state {
            font-size: 14px;
            color: #0000004d;
            font-weight: 400;

        }
    }

    .ant-modal-header {

        .ant-modal-title {
            font-size: 24px;
            font-weight: 500;

            #title-input {
                font-size: 24px;
                font-weight: 500;
                border: none;
                outline: none;
                width: 100%;
                min-width: 400px;
            }
        }
    }
}