.notes {
    position: relative;
    margin: calc(100% / 32);

    &.empty {
        margin-left: calc(1200% / 32);
        margin-right: calc(1200% / 32);
        margin-top: calc(400% / 32);
    }

    .notes-wrapper {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;

        .add-note {
            width: 300px;
            height: 290px;
            display: flex;
            justify-content: center;
            align-items: center;
            border: 2px dashed #1677ff;
            border-spacing: 30px;
            border-radius: 8px;
            cursor: pointer;
            transition: all 0.3s;

            svg {
                height: 32px;
                width: 32px;
            }

            &:hover {
                background-color: #f1f6ff;
            }

            .add-note-icon {
                font-size: 48px;
                color: var(--primary-color);
            }
        }

        .empty-state {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}