.break-pill {
    font-size: 14px;
    padding: 4px 12px;
    display: flex;
    gap: 8px;
    flex-direction: column;
    border-radius: 4px;
    border: 1px solid transparent;
    font-family: var(--primary-font);
    border: 1px solid #E4E7EC;
    background-color: #F9FAFB;
    color: #333333;

    .checkbox {
        margin-right: 8px;
    }

    .header {
        display: flex;
        gap: 6px;
        align-items: center;
        font-size: 16px;

        span {
            color: #475467;
        }
    
        svg {
            height: 10px;
            width: 10px;
        }

    }

    svg {
        height: 200px;
        width: 200px;
    }
}