.edit-note-component {
    padding: 16px;
    padding-top: 56px;
    width: 700px;
    margin: auto;

    .edit-note-component-header-input {
        border: none;
        outline: none;
        font-size: 24px;
        width: 700px;
        margin: auto;
        font-weight: 500;

        &:focus, &:active, &:focus-within {
            border-color: transparent;
            outline-color: transparent;
        }

        &:disabled {
            cursor: default;
            color: #000;
        }
    }
}

.note-modal-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #E0E0E0;
    padding: 8px 16px;

    .note-modal-footer-back-button {
        span {
            display: flex;
            align-items: center;
            gap: 8px;
            height: 100%;

            svg {
                transform: rotate(180deg);
            }
        }
    }
}

.note-modal-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 16px;
    border-bottom: 1px solid #E0E0E0;
    background: #f5f5f5;
    border-radius: 8px 8px 0 0;
    color: #175CD3;

    div {
        font-size: 16px;
        font-weight: 500;
        display: flex;
        align-items: center;
        gap: 8px;
    }

    .document-icon {
        width: 20px;
        height: 20px;
        
        path {
            fill: #175CD3;
        }
    }

    .close-icon-container {
        padding: 4px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        border-radius: 6px;


        &:hover {
            background: #E0E0E0;
        }

        .close-icon {
            width: 20px;
            height: 20px;
    
            path {
                fill: #175CD3;
            }
        }
    }
}
