.topbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #e0e0e0;
    background-color: #f5f5f5;

    .topbar-left {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 16px;   
        font-family: var(--secondary-font);
        width: 259px;
        transition: width 0.2s ease-in-out;

        &.notes {
            width: 100px;
            transition: width 0.2s ease-in-out;
        }

        &.topbar-left-collapsed {
            width: 79px;

            .topbar-left-title {
                justify-content: center;
            }
        }

        .topbar-left-title {
            font-size: 28px;
            font-weight: 600;
            display: flex;
            width: 100%;
            align-items: center;
            justify-content: space-between;
            margin-left: 10px;
            margin-right: 10px;

            svg {
                width: 20px;
                height: 20px;
                cursor: pointer;
            }
        }
    }
    
    .topbar-right {
        display: flex;
        align-items: center;
        gap: 16px;
        padding: 8px 16px;
        justify-content: space-between;
        flex: 1;
        border-left: 1px solid #e0e0e0;

        .contextual-info {
            display: flex;
            align-items: center;
            font-size: 14px;
            color: #aaaaaa;
            margin-left: 16px;
        }

        .feedback {
            display: flex;
            align-items: center;
            cursor: pointer;
            
            svg {
                path {
                    fill: var(--primary-color);
                }
            }
        }


        .settings {
            cursor: pointer;

            svg {
                height: 16px;
                width: 16px;
            }
        }

        .check-schedule-button {
            margin-left: auto;
        }
    }
}

.smily-icon {
    color: var(--primary-color);

    path {
        fill: var(--primary-color);
    }
}

.info-modal-header {
    font-size: 20px;
    padding-left: 20px;
}

.info-modal-content {
    font-size: 16px;
    padding: 20px;
    padding-top: 0px;
    padding-bottom: 0px;

    .subheading {
        font-weight: 600;
        font-size: 18px;
    }

    .data-lost-list {
        display: flex;
        flex-direction: column;
        padding-left: 8px;
        padding-top: 4px;
    }
}