.todo-page {
    height: calc(100% - 49px);

    aside {
        background: #f5f5f5;
        border-right: 1px solid #e0e0e0;
    }

    .ant-layout {
        height: 100%;
        background: #f5f5f5;
    }

    .sidebar {
        height: 100%;
        
        ul {
            height: 100%;
        }
    }

    .todo-items {
        background: white;
        height: calc(100% - 16px);
        margin: 8px;
        width: calc(100% - 16px);
        border-radius: 8px;
        position: relative;

        .check-schedule-button {
            position: absolute;
            top: 16px;
            right: 16px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 4px;

            svg {
                width: 16px;
                height: 16px;
            }
        }
    }

    .empty-todo {
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 100%;

        .ant-empty-image {
            width: 200px;
            height: 200px;

            svg rect {
                fill: white;
            }
        }

        .ant-empty-description {
            margin-top: -16px;
        }
    }
}