.language-switcher {
    .ant-select {
        .ant-select-selector {
            border: none !important;
            background: transparent !important;
            padding: 0 !important;
            color: var(--text-primary) !important;
            font-size: 14px !important;

            .ant-select-selection-item {
                padding-right: 0 !important;
            }
        }

        .ant-select-arrow {
            display: none;
        }
    }

    &:hover {
        .ant-select-selector {
            color: var(--primary-color) !important;
        }
    }
}