.todo-item {
    display: flex;
    align-items: flex-start;
    gap: 6px;
    width: 100%;

    .checkbox {
        margin-top: 3px;
    }

    .editable-text {
        padding: 4px;
        width: 100%;
        outline: none;
        min-height: 24px;
        padding-right: 16px;
        min-width: 200px;
        border: none;
        background: transparent;
        flex: 1;

        &:focus {
            border: none;
            box-shadow: none;
        }

        &::placeholder {
            color: var(--text-disabled);
        }

        a:hover {
            cursor: pointer;
        }

        &:hover {
            cursor: text;
        }
    }
}