.todo-item {
    display: flex;
    align-items: center;
    gap: 6px;

    .checkbox {
        margin-right: 8px;
    }
    
    .editable-text {
        padding: 4px;
        width: 100%;
        outline: none;
        height: 24px;
        padding-right: 16px;
        min-width: 200px;
    }
}