.note-card {
    width: 340px;
    border-radius: 6px;
    padding: 24px;
    display: flex;
    flex-direction: column;
    position: relative;
    box-shadow: 0 0 4px 0 #E2E8F0;
    transition: all 0.5s ease;
    background: var(--blue-50);
    margin-bottom: 20px;

    .square {
        height: 30px;
        width: 30px;

        svg {
            height: 100%;
            width: 100%;
            border-radius: 8px;
        }
    }

    .title {
        font-size: 22px;
        font-weight: 600;
        margin-top: 16px;
        color: #1E293B;
        font-family: math;
    }

    .subtitle {
        font-size: 15px;
        font-weight: 400;
        margin-top: 24px;
        color: #64748B;
        line-height: 1.4;
        letter-spacing: 0.5px;
    }

    &:hover {
        cursor: pointer;
        .delete-button {
            display: block;
        }
    }

    &:active, &:focus-within {
        .delete-button {
            display: block;
        }
    }

    .delete-button {
        position: absolute;
        display: none;
        top: 24px;
        right: 24px;
        height: 24px;
        width: 24px;
        cursor: pointer;
    }
}

.ant-modal .ant-modal-content {
    padding: 16px;
}

.modal-footer {
    display: flex;
    justify-content: flex-end;
    gap: 12px;
}