.sidebar-bottom-action-item {
    svg {
        max-height: 16px;
        max-width: 16px;
        min-height: 16px;
        min-width: 16px;

        path {
            height: 16px;
            width: 16px;
        }
    }
}