.todo-list {
   width: 700px;
   margin: auto;
   margin-top: 8%;
   margin-bottom: 100px;
   position: relative;

   .focus-mode {
      margin-bottom: 24px;
      gap: 16px;
      font-family: var(--secondary-font);
      width: 100%;
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;

      .focus-mode-header {
         font-size: 36px;         
         font-weight: 500;
      }

      .disable-focus-mode-button {
         background-color: rgba(0, 0, 0, 0.04);
      }
   }

   .completed-tasks-toggle {
      background-color: rgba(0, 0, 0, 0.04);
   }

   .add-task-button {
      position: absolute;
      top: 100%;
      right: 0;
      transform: translate(50%, -50%);
      background-color: var(--primary-color);
      display: flex;
      align-items: center;
      justify-content: center;
      transition: display 0.3s ease-in-out;

      &.empty-folder {
         left: 0;
         right: unset;
         transform: translate(0, -50%);
         top: 58px;
      }
   }

   .ant-collapse-content > .ant-collapse-content-box {
      padding: 8px;
   }


   .ant-collapse-arrow {
      cursor: pointer;
   }

   .ant-collapse-header-text {
      width: calc(100% - 150px);
   }

   .ant-collapse-header {
      &:hover {
         .todo-actions {
            display: flex;
         }
      }

      &:focus-within {
         .todo-actions {
            display: flex;
         }
      }
   }

   .ant-collapse-content-active .ant-collapse-content-box:hover {
      .add-subtask-button.haveSubtasks {
         display: flex;
      } 
   }

   .subtasks {
      margin-left: 57px;
      position: relative;
   }

   .add-subtask-button.haveSubtasks {
      margin-top: 8px;
      display: flex;
      position: absolute;
      left: -24px;
      bottom: 4px;
      height: 16px;
      width: 16px;

      span {
         display: flex;

         svg {
            height: 12px;
            width: 12px;
         }
      }
   }

   .todo-actions {
      display: none;
      gap: 8px;
      align-items: center;
      height: 22px;
      cursor: pointer;

      span {
         cursor: pointer;

         svg {
            color: var(--primary-color);
         }
      }

      .delete-icon {
         svg {
            color: var(--red-500);
         }
      }

      .focus-icon {
         height: 18px;
         width: 18px;



         &.focused, &:hover {
            path {
               stroke: var(--green-500);
               fill: var(--green-500);
            }
         }
      }

      svg {
         cursor: pointer;
      }
   }
}

.folder-move-item {
      .ant-dropdown-menu-title-content {
         display: flex;
         gap: 8px;
         align-items: center;
         svg {
            height: 18px;
            width: 18px;
         }
   }
}
.folder-move-item-to .ant-dropdown-menu-title-content {
   color: var(--primary-color);
}

.todo-list-collapse.dragging {
   cursor: all-scroll;

   .sortable-ghost {
      visibility: hidden;
   }
}

.drag-handle {
   .drag-icon {
      height: 16px;
      width: 16px;
      position: absolute;
      top: 3px;
      left: -38px;
      display: none;
   }

   &:hover {
      .ant-collapse-header-text {
         position: relative;
      
         .drag-icon {
            display: block;
         }
      }
   }
}

.drag-selected {
   background-color: var(--blue-10);
}


.todo-list-header {
   display: flex;
   align-items: first baseline;
   margin-bottom: 16px;
   gap: 8px;

   .todo-list-header-left {
      font-size: 24px;
   }

   .todo-list-header-right {
      font-size: 14px;
      display: flex;
      color: rgba(0, 0, 0, 0.5);
   }
}

.completed-tasks-toggle-container {
   display: flex;
   align-items: center;
   margin-bottom: 16px;
   justify-content: flex-end;
   gap: 16px;
}