.help-us-improve {
    min-width: 366px;

    textarea::placeholder {
        color: #9e9d9d;
    }

    .button-group {
        display: flex;
        margin-top: 16px;
        justify-content: space-between;

        button {
            height: 32px;
        }
    }

    .error-message {
        color: var(--red-500);
        margin-top: 8px;
    }
}