.masonry-grid {
    display: flex;
    margin-left: -8px; /* reduced gutter size */
    width: auto;
}
  
.masonry-grid-column {
    padding-left: 8px; /* reduced gutter size */
    background-clip: padding-box;
}