.break-page {
    margin: 0;
    padding: 0;
    position: relative;
    height: 100vh;
    width: 100%;
    font-family: var(--secondary-font);
    display: flex;
    align-items: center;

    .break-header {
        font-size: 48px;
        position: absolute;
        top: calc(100% / 32);
        left: 50%;
        transform: translateX(-50%);
        font-family: var(--secondary-font);
        font-weight: 500;
        display: flex;
        gap: 16px;
    }

    .break-hero-image {
        width: 300px;
        height: calc(100% - 200px);
        margin: auto;
    }

    .break-pills-container {
        display: flex;
        flex-direction: column;
        gap: 4px;
        position: absolute;
        top: 50%;
        left: 20%;
        transform: translateY(-38%);
    }
}