.break-page {
    margin: 0;
    padding: 0;
    position: relative;
    height: 100vh;
    width: 100%;
    font-family: var(--secondary-font);

    .break-header {
        font-size: 48px;
        position: absolute;
        top: calc(100% / 32);
        left: calc(100% / 32);
        font-family: var(--secondary-font);
        font-weight: 500;
        display: flex;
        gap: 16px;
    }
}