.custom-audio-player {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4px 16px;
    gap: 4px;
    background: var(--primary-color);
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: absolute;
    right: 48px;
    bottom: 24px;
    transition: background 0.3s ease;

    &.playing {
        background: linear-gradient(
            270deg,
            #9aceff,  /* Peach pink */
            #5d39fc,  /* Light pink */
            #9aceff   /* Repeats smoothly */
        );
    background-size: 200% 200%;
    animation: gradientMove 6s linear infinite;
    }

    svg {
        height: 24px;
        width: 24px;
        color: white;
        cursor: pointer;
    }
}

@keyframes gradientMove {
    0% {
        background-position: -100% -100%;
    }
    100% {
        background-position: 100% 100%;
    }
}
