.custom-audio-player {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4px 8px;
    gap: 4px;
    background: var(--primary-color);
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: absolute;
    right: 48px;
    bottom: 36px;

    svg {
        height: 24px;
        width: 24px;
        color: white;
        cursor: pointer;
    }
}

.cd-icon {
    height: 50px;
    width: 50px;
    position: absolute;
    right: 74px;
    bottom: 36px;
    display: none;

    &.playing {
        animation: rotate 4s linear infinite;
        display: block;
    }
}

.music-notes {
    bottom: 65px;

    &.playing {
        animation: none;
        display: block;
    }
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}