.link-list {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 16px;
    margin: 0 auto;
    font-family: var(--quaternary-font);

    .empty-link-list {
        margin-top: auto;
        margin-bottom: auto;
        height: calc(100vh - 160px);
    }

    .linkboard-filter {
        margin-bottom: 20px;
    }

    .link-item {
        width: 100%;
        background: var(--bg-tertiary);
        border-radius: 8px;
        display: flex;
        flex-direction: column;
        border: 1px solid var(--border-primary);
        cursor: pointer;
        text-decoration: none;
        color: var(--text-primary);
        font-size: 16px;
        font-weight: 500;
        position: relative;

        .delete-card-btn {
            position: absolute;
            bottom: 4px;
            right: 8px;
            height: 24px;
            width: 24px;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 4px;
            border: 1px solid transparent;

            svg {
                width: 16px;
                height: 16px;
                fill: var(--text-tertiary);
                transition: fill 0.2s ease;
            }

            &:hover {
                background: var(--bg-hover);
                border-color: var(--border-primary);

                svg {
                    fill: var(--text-primary);
                }
            }
        }

        .link-item-select {
            position: absolute;
            top: -12px;
            left: -12px;
            height: 24px;
            width: 24px;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
            display: none;

            .ant-checkbox-inner {
                border-radius: 50%;
                height: 20px;
                width: 20px;
            }

            &.selected {
                display: flex;
            }
        }

        &:hover {
            box-shadow: var(--shadow-light);
            transition: background 0.2s ease-in-out;

            .link-item-select {
                display: flex;
            }
        }

        h2 {
            margin: 0;
            font-size: 16px;
        }

        .link-details {
            padding: 4px 8px;
            display: flex;
            gap: 6px;
            overflow-wrap: break-word;
            align-items: center;
            min-height: 24px;

            .link-title {
                font-size: 16px;
                max-width: 40%;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                font-weight: 500;
            }
        }

        .favicon {
            height: 16px;
            width: 16px;
        }

        .link-url {
            color: var(--text-tertiary);
            font-size: 14px;
            font-weight: 400;
            display: flex;
            gap: 4px;

            img {
                height: 16px;
                width: 16px;
            }
        }

        img {
            height: auto;
            width: 100%;
            border-radius: 8px 8px 0 0;
        }
    }
}

.linkboard {
    position: relative;

    .selected-links {
        min-width: 448px;
        background-color: var(--bg-modal);
        position: fixed;
        left: 30%;
        top: 50%;
        padding: 24px;
        display: flex;
        flex-direction: column;
        gap: 16px;
        border-radius: 8px;
        border: 1px solid var(--border-primary);
        box-shadow: var(--shadow-heavy);
        z-index: 1000000000;
        transform: translateY(-50%);

        .selected-links-count {
            color: var(--primary-color);
        }

        .selected-links-header {
            display: flex;
            justify-content: center;
            width: 100%;

            h1 {
                margin: 0;
                font-size: 40px;
                font-weight: 400;
            }
        }

        .selected-links-body {
            display: flex;
            gap: 16px;
            align-items: center;
            justify-content: center;
        }

        .selected-links-footer {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
            gap: 4px;
            width: 100%;
        }

        .selected-link {
            display: flex;
            gap: 8px;
            align-items: center;
            border: 1px solid var(--border-primary);
            border-radius: 4px;
            padding: 4px 8px;
            width: fit-content;
            width: 200px;
            height: 20px;
            background-color: var(--bg-tertiary);

            .favicon {
                height: 16px;
            }

            .link-host {
                font-size: 14px;
                color: var(--text-primary);
                max-width: 40%;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }

            .link-url {
                font-size: 12px;
                color: var(--text-secondary);
                width: 40%;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }

            .remove-icon-bucket {
                cursor: pointer;
                width: 16px;
                height: 16px;
                fill: var(--text-tertiary);
                transition: fill 0.2s ease;
                
                &:hover {
                    fill: var(--red-500);
                }
            }
        }
    }
}