@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap');


:root {
    --primary-font: "Roboto", serif;
    --secondary-font: 'Barlow Condensed', sans-serif;
    --tertiary-font: 'Inter', sans-serif;
    --quaternary-font: 'Geist', sans-serif;
    --blue-10: #eef6fe;
    --blue-50: #eff6ff;
    --blue-100: #dbeafe;
    --blue-200: #bedbff;
    --blue-300: #8ec5ff;
    --blue-400: #51a2ff;
    --blue-500: #2b7fff;
    --blue-600: #155dfc;
    --blue-700: #1447e6;
    --blue-800: #193cb8;
    --blue-900: #1c398e;
    --red-400: #F97066;
    --red-500: #F04438;
    --red-600: #D92D20;
    --yellow-400: #FDB022;
    --yellow-500: #F79009;
    --yellow-600: #DC6803;
    --green-500: #12B76A;
    --green-600: #039855;
    --green-700: #027A48;
    --primary-color: var(--blue-600);
}

body {
    margin: 0;
    padding: 0;
    font-family: var(--tertiary-font);
}


.App {
    height: 100vh;
    width: 100vw;
    position: relative;
}

.notes-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 100px);
    width: 100%;

    .ant-empty-image {
        width: 250px;
        height: 250px;
    }

    svg {
        width: 250px;
        height: 250px;
    }
}

.ant-empty {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.import-calendar-btn {
    margin-left: auto;
}

.iframe-container {
    width: 1200px;
    height: 600px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 4px;
    box-shadow: 0 0px 8px rgba(0, 0, 0, 0.2);
    z-index: 3;
    padding: 36px;
    padding-top: 20px;
    background-color: #f5f5f5;

    .iframe-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 16px;

        span {
            font-size: 16px;
            font-weight: 600;
        }
    }

    .close-icon {
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        padding: 2px;
        border-radius: 2px;
        color: rgba(0, 0, 0, 0.45);
        background-color: rgba(0, 0, 0, 0.06);
    }
}

.linkboard-drawer {
    .ant-drawer-header-title {
        flex-direction: row-reverse;
    }
}

.watch-demo-btn {
    color: var(--blue-600);

    &:hover {
        color: var(--blue-500) !important;
    }
}

/* Light custom scrollbar, compatible with AntD's style */
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }
  
  ::-webkit-scrollbar-track {
    background: transparent; /* Keep AntD feel */
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.4); /* Matches AntD grayish scrollbar */
    border-radius: 4px;
    transition: background-color 0.3s;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0, 0, 0, 0.4);
  }
  
  /* Firefox */
  * {
    scrollbar-width: thin;
    scrollbar-color: rgba(0, 0, 0, 0.4) transparent;
  }
  
  

  .ant-notification-notice {
    padding: 10px 12px !important;
    padding-left: 16px !important;

    .ant-notification-notice-message {
        margin-bottom: 0px !important;
    }

    .ant-notification-notice-close {
        top: 6px !important;
        right: 10px !important;
    }
  }